{% extends "layout.html" %}

{% block title %} {{ user.username}}'s Profile | {{ super }}{% endblock %}

{% block body %}
<div class="container">
    <div class="grid-100">
        <div class="grid-25">
            {% if user.profile.avatar.url %}
                <img src="{{ user.profile.avatar.url }}" height="200">
            {% else %}
                <img src="django-profile/assets/media/avatar_photos/avatar-159236_1280.png" height="200">
            {% endif %}
            <a class="button" href="{% url 'accounts:edit_profile' %}">Edit Profile</a>
            <a class="button" href="{% url 'accounts:change_password' %}">Change Password</a>
        </div>
        <div class="grid-75">
            <h1>{{ user.username }}</h1>
            <h3><b>Name:</b>{{ user.profile.first_name }}  {{ user.profile.last_name }}</h3>
            <h3><b>Email:</b> {{ user.profile.email }}</h3>
            <h3><b>Birthday:</b> {{ user.profile.birth_date|date:"m/d/Y" }}</h3>
            {% if user.profile.bio %}
                <h3><b>Bio:</b> {{ user.profile.bio|escape}}</h3>
            {% else %}
                <h3><b>Bio:</b> <i>This user does not seem to have a life...</i></h3>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}